<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View supplier</title>
</head>
<body>
<h1>View supplier: <span th:text="${supplier.name}"></span></h1>
<a href="/suppliers">Supplier list</a>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Description</th>
        <th>Image</th>
    </tr>
    <th:block th:each="material: ${materials}">
        <tr>
            <td th:text="${material.name}"></td>
            <td th:text="${material.price}"></td>
            <td th:text="${material.quantity}"></td>
            <td th:text="${material.description}"></td>
            <td><img width="168px" height="168px" th:src="${material.image}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>